<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"  content="text/html; charset=UTF-8" />
    <title th:text="${title}"/>
    <link rel="stylesheet" type="text/css" href="" />
</head>
<body>
    <header th:insert="Blocks/header :: header"></header>
    <br/><br/>
    <h3>Every month we collect statistics among our customers <br/>and recommend you the best-selling and most popular things we own.</h3>
    <h1>Popular among women</h1>
    <br/>
    <div class="header1">
        <div class="header__item1 headerButton"><a href="#">
            <img src="https://i.pinimg.com/474x/e1/ea/cc/e1eacc750792d12edd8afe5f9047d2f3.jpg"
                 width="300px" alt="photo" class="rightimg"></a></div>
        <div class="header__item1 headerButton"><a href="#">
            <img src="https://cdn.shopify.com/s/files/1/1703/6531/products/seamido_cable-knit-oversized-womens-turtleneck-sweater_6_1200x.jpg?v=1569311093"
                 width="300px" alt="photo" class="rightimg"></a></div>
        <div class="header__item1 headerButton"><a href="#">
            <img src="https://cdn.cliqueinc.com/posts/289325/oversize-sweaters-for-women-289325-1601062417218-main.700x0c.jpg"
                 width="300px" alt="photo" class="rightimg"></a></div>
        </a></div>
    <br/><br/>
    <h2>Popular among men</h2><br/>
    <div class="header2">
        <div class="header__item1 headerButton"><a href="#">
            <img src="https://images.squarespace-cdn.com/content/v1/58c8734703596e8c8dd15d18/1502828026538-K8U3MQ0FQVEZPURSAAD5/Mamicone+%E2%80%93+BM+%E2%80%93+Front.jpg?format=1000w"
                 width="300px" alt="photo" class="rightimg"></a></div>
        <div class="header__item1 headerButton"><a href="#">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvcWHsqdMRE1hQimV9E46uEycXYxz2zl6zlg&usqp=CAU"
                 width="300px" alt="photo" class="rightimg"></a></div>
        <div class="header__item1 headerButton"><a href="#">
            <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Fc1%2F0c%2Fc10cfc045259df94bfa2ec78aa7ab40c3e2838e9.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5Bmen_hoodiessweatshirts%5D%2Ctype%5BDESCRIPTIVESTILLLIFE%5D%2Cres%5Bm%5D%2Chmver%5B3%5D&call=url[file:/product/main]"
                 width="300px" alt="photo" class="rightimg"></a></div>
        </a></div><br/><br/>
    <h4>Hello! Let's get to know each other better? We are an American brand of clothing
        and stylish accessories - BlokWe!
        A brand created with love for every girl and guy and with a crazy desire to
        become the best for you every day!

        <br/>BlokWe is a team on one wave! Consultants, administrators, managers,
        category managers, marketing and technical department, and many other important people
        who are united by a common goal - to give a smile and positive emotions to each client!

        <br/>Why us?

        <br/>BlokWe is a brand with more than 20 years of experience!
        The network of stores throughout Ukraine, which is actively expanding.
        Maybe we are in your city? The most pleasant thing is that girls and boys
        from all over the country love and trust us! Nice to meet you!
        <br/>And now prepare a smile, because cool shopping is waiting for you!
        <br/>With love, BlokWe!</h4><br/><br/>
    <h5><br/>© 2021, BlokWe.com<br/>Delivery across the USA is carried out by delivery services:
        "MyMeest".<br/>"MyMeest" carries out delivery to the post office, the index
        of which you specify when ordering<br/><br/><br/></h5>
</body>
</html>
